section {
  font-family: "Poppins", sans-serif;
  color: #000;
}

nav {
  padding: 1rem !important;
}

.navbar-brand {
  font-size: 24px !important;
  font-weight: 700;
}

#heading-container {
  margin: 4% 0 4% 0;
}

#heading {
  color: #000;
  font-weight: 700;
  font-size: 4rem;
}

#heading:hover {
  text-decoration: underline;
}

.text-muted:hover {
  color: rgb(34, 31, 31) !important;
}

#project-heading {
  font-weight: 600;
}

#contact-heading {
  font-weight: 600;
}
