section {
  font-family: "Poppins", sans-serif;
  color: #000;
}

nav {
  font-family: "Poppins", sans-serif;
  padding: 1rem !important;
  font-size: 1.2rem;
}

.navbar-brand {
  font-size: 2rem !important;
  font-weight: 700;
}

#heading-container {
  padding: 8% 0 20% 0;
}

#heading {
  color: #000;
  font-weight: 800;
  font-size: 5rem;
  display: inline;
}

#heading:hover {
  text-decoration: underline;
}

#whoami {
  font-size: 1.2rem;
}
.text-muted:hover {
  color: rgb(34, 31, 31) !important;
}

#btn-github, #btn-contact {
  margin: .5rem 0 .5rem 0;
}

#project-section {
  padding: 1.5rem 0 5rem 0;
}

#project-heading ,#contact-heading {
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem 0 0 0 ;
}

#project-name {
  margin-top: 1rem;
  font-weight: 500;
  font-weight: bold;
  color: #2b2d30;
}

p, li {
  font-size: 1.1rem;
  color : #44494e
}

.row {
  margin-top: 3rem;
}

footer {
  padding: 1.5rem;
  background-color: #f1f1f1;
  color: #fff;
  text-align: center;
}
