section {
  font-family: "Poppins", sans-serif;
  padding: 0 2rem;
}

#cover-page {
  color: #000;
}

nav {
  padding: 1rem 0 !important;
}

.navbar-brand {
  font-size: 28px !important;
  font-weight: 700;
}

.navbar-brand:hover {
  color: rgb(22, 21, 21) !important;
}

#heading {
  margin: 2rem 0 1rem;
  font-weight: 700;
  font-size: 4rem;
}
